@import url('/animacao/animacao.css');
@import url('/module/cards.css');
@import url('/layout/sobre.css');
@import url('/base/reset.css');
@import url('/base/typography.css');


:root {
    --main-color:#5c3b31;
    --second-color:#e4d4c1;
    --font-size:20px;
    --text-titlecolor:#d37818;
  }



