@import url('https://emersontarqui.github.io/quarta/css/layout/header.css');
@import url('https://emersontarqui.github.io/quarta/css/base/typography.css');
@import url('https://emersontarqui.github.io/quarta/css/base/reset.css');
@import url('https://emersontarqui.github.io/quarta/css/layout/home.css');
@import url('https://emersontarqui.github.io/quarta/css/module/cards.css');
@import url('https://emersontarqui.github.io/quarta/css/layout/sobre.css');
@import url('https://emersontarqui.github.io/quarta/css/layout/eventos.css');
@import url('https://emersontarqui.github.io/quarta/css/layout/redes.css');
@import url('https://emersontarqui.github.io/quarta/css/animacao/animacao.css');
@import url('https://emersontarqui.github.io/quarta/css/layout/footer.css');
@import url('https://emersontarqui.github.io/quarta/css/layout/delivery.css');

:root {
    --main-color:#5c3b31;
    --second-color:#e4d4c1;
    --font-size:20px;
    --text-titlecolor:#d37818;
  }



