.custom-animation {
    animation-duration: 0.2s; 
  }

.carrossel {
    background-color: var(--second-color);
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 50px;
}

.swiper-container {
    width: 100%;
    max-width: 1250px;
    padding: 30px 0;
    position: relative; 
}

.swiper {
    width: 100%;
    height:500px;
    border-radius: 20px;
     overflow: hidden;  /*esconde o que ultrapassar o elemento */
     box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);  /* 0 é quanto desloca na horizontal 15 quanto desloca na vertical , o 50px é o desfoque */
}



.swiper-slide {
    display: flex; /*elemento do slide */
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    background-size: cover; /*cobre todo o espaco disponivel sem distorcao*/
    background-position: center 70% ;
    transition: transform 0.8 ease;
}

.slide-content {
    width: 100%;
    color: #fff;
    padding: 40px 30px;
    position: relative;
    z-index: 2; /* define a ordem de empilhamento (quem fica em cima/embaixo */
    transform: translateY(60px); /*MOVE O ELEMENTO*/
    transition: all 0.5s ease 0.3s;
    opacity: 0;
}

.swiper-slide-active .slide-content {
    transform: translate(0);
    opacity: 1;
}

.slide-content h2 {
    font-size: 35px;
    font-weight: 70px;
    margin-bottom: 10px;
    overflow: hidden;
    color: var(--text-titlecolor);
    background-color: #5c3b319c;
    width: 35%;
    padding: 2px;
    border-radius: 10px;
    
}

.slide-content p {
    font-size: 15px;
    width: 80%;
    margin-bottom: 20px;
    line-height: 1+6;
 
}

.slide-content .btn {
    display: inline-block; 
    padding: 12px 28px;
    background-color: #fff;
    color: #333;
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
    transform: translateY(20px);
    opacity: 1;
    transition: all 0.4s ease 0.6s;
}

.swiper-content-active .btn {
    transform: translate(0);
    opacity: 2;
}

.slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

.swiper-button-prev , .swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: var(--text-titlecolor);
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    padding: 23px;
}

.swiper-button-prev:hover , .swiper-button-next:hover {
    background: var(--main-color);
}

.swiper-button-prev:hover::after , .swiper-button-next:hover::after {
    color: var(--text-titlecolor);
}

.swiper-button-prev::after , .swiper-button-next::after {
    font-size: 25px;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.swiper-pagination-bullet {
    width: 12px 12px;
    background: #fff;
    opacity: 0.5;
    transform: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    width: 30px;
    border-radius: 10px
}

@media(max-width:768px) {
    .slide-content h2 {
        width: 90%;
     
        
    }
    
}

