.bandeiras {
    display: flex;
    gap: 20px;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: black !important;
    color: white;
    font-size: 18px;
    width: 100%;
}

.logofooter {
    position: relative;
    height: auto;
    justify-content: center;
}

.text-footer {
    text-align: center;
}

.text-footer h6 {
    font-size: small;
}

@media(max-width:768px){
    .bandeiras {
        gap: 5px;
        
    }
}