.navbar {
    background-color: var(--main-color) !important;
    border-bottom: 1px solid #fff;
}

.nav-link {
color: #fff !important;
font-size: 19px !important;
}

.navbar-nav {
    gap: 30px;
}


.nav-link:hover {
    color: var(--text-titlecolor) !important;
    /* border-bottom: 1px solid var(--text-titlecolor); */
    text-decoration: underline !important;
    text-underline-offset: 4px; 
    color: #d37818;
    transform: scale(1.05); 
}



.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #fff !important;
    background-color: transparent ;
    border: var(--bs-border-width) solid  #fff !important;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler-icon {
    filter: invert(100%); /* Branco */
}